{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ]
}
