{
    "env": {
        "browser": true,
    },
    "extends": ["plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
    "parserOptions": {
        "ecmaVersion": 2015,
    },
    "plugins": ["prettier"],
}
