*.swp
*.pyc
.idea/
venv/
db.sqlite3
duskensite/settings/local.py
duskensite/local_settings.py
duskensite/id_rsa*
docs/_build
staticfiles
node_modules
/insidedocs
/celerybeat-schedule
.coverage

scripts/users_in_group_active.json
.python-version
celerybeat-*
.venv/
