*.swp
*.pyc
.idea/
venv/
db.sqlite3
dusken/settings/local.py
dusken/local_settings.py
dusken/id_rsa*
docs/_build
staticfiles
node_modules
/insidedocs
/celerybeat-schedule
.coverage
coverage.xml

scripts/users_in_group_active.json
.python-version
celerybeat-*
.venv/
