[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"argon2_cffi" = "==19.2.*"
"django-bootstrap4" = "==1.1.*"
"django-oauth2-provider" = "==0.2.*"
"Django-Select2" = "==7.1.*"
"psycopg2" = "==2.8.*"
celery = "==4.4.*"
coreapi = "==2.3.*"
dj-database-url = "==0.5.*"
Django = ">=2.2.10,<3"
django-countries = "==5.5.*"
django-extensions = "==2.2.*"
django-filter = "==2.2.*"
django-inline-svg = "==0.1.*"
django-jsonfield = "==1.4.*"
django-ldapdb = "==1.4.*"
django-mptt = "==0.10.*"
django-phonenumber-field = "==4.0.*"
django-recaptcha = "==2.0.*"
django-redis = "==4.11.*"
django-signal-disabler = "==0.1.1"
djangorestframework = "==3.11.*"
dnspython = "==1.16.*"
Fabric = "==2.5.*"
graphene-django = "==2.7.*"
gunicorn = "==20.0.*"
Markdown = "==3.1.*"
mysqlclient = "==1.4.*"
passlib = "==1.7.*"
phonenumbers = "==8.11.*"
redis = "==3.3.*"
requests = "==2.22.*"
sentry-sdk = "==0.13.*"
stripe = "==2.41.*"

[dev-packages]
codecov = "*"
requests-mock = "*"

[requires]
python_version = "3.6"
