[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"argon2_cffi" = "==20.1.*"
"django-bootstrap4" = "==1.1.*"
"Django-Select2" = "==7.6.*"
"psycopg2" = "==2.8.*"
celery = "==5.0.*"
coreapi = "==2.3.*"
dj-database-url = "==0.5.*"
Django = ">=2.2.19,<3"
django-countries = "==7.0.*"
django-extensions = "==3.1.*"
django-filter = "==2.4.*"
django-inline-svg = "==0.1.*"
django-ldapdb = "==1.5.*"
django-mptt = "==0.11.*"
django-phonenumber-field = "==5.0.*"
django-recaptcha = "==2.0.*"
django-redis = "==4.12.*"
django-signal-disabler = "==0.1.1"
djangorestframework = "==3.12.*"
Fabric = "==2.5.*"
graphene-django = "==2.15.*"
gunicorn = "==20.0.*"
Markdown = "==3.3.*"
mysqlclient = "==2.0.*"
passlib = "==1.7.*"
phonenumbers = "==8.12.*"
redis = "==3.5.*"
requests = "==2.25.*"
sentry-sdk = "==0.20.*"
stripe = "==2.55.*"

[dev-packages]
codecov = "*"
requests-mock = "*"

[requires]
python_version = "3.8"
