Django>=1.9,<1.10
django-bootstrap-form==3.2
django-countries==3.4.1
django-extensions==1.6.1
django-filter==0.13.0
django-mptt==0.8.3
django-oauth2-provider==0.2.6.1
djangorestframework==3.3.3
gunicorn==19.4.5
jsonfield==1.0.3
Markdown==2.6.6
psycopg2==2.6.1
python-social-auth==0.2.12
requests==2.7.0
stripe==1.31.0