/* Home */
.page-home {
    text-align: center;

    .login-form {
        margin: 0 auto;
    }
}
.home {
    &__welcome {

    }
    &__login {
        margin-top: 2rem;
    }
}
.navbar {
    margin-bottom: 1rem;
}
.content {
    @include make-container();
    margin: 2rem 0;
}
.login-form {
    text-align: left;
    max-width: 350px;

    .submit-button-wrap {
        margin-top: 0.8rem;

        @include media-breakpoint-up(sm) {
            text-align: right;
        }
    }
    [type=submit] {
        display: block;
        width: 100%;
        @include media-breakpoint-up(sm) {
            text-align: right;
            display: inline-block;
            width: auto;
        }
    }
}

/* Purchase */
.membership-purchase {
    text-align: center;
}
#user-form {
    margin: 0 auto;
    max-width: 350px;
    text-align:left;
}
