/* Index/landing page */
.index {
    text-align: center;

    &__welcome {
    }

    &__login {
        margin-top: 2rem;
    }

    .login-form {
        margin: 0 auto;
    }
}


/* Purchase membership page */
.membership-purchase, .user-register {
    text-align: center;
}

#user-form {
    margin: 0 auto;
    max-width: 350px;
    text-align:left;
}

/* Login page */
.page-login {
    text-align: center;
    .login-form {
        margin: 0 auto;
    }
}

/* Email subscriptions / Mailing lists */
.newsletter-btn {
    margin-left: 16px;
}
.mailing-list-table {
    max-width: 350px;


    label {
        margin-bottom: 0;
    }

    &__status {
        text-align: center;
    }

    &__actions {
        text-align: right;
    }
}
