$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "mixins";
@import "general";
@import "layout";
@import "fonts";
@import "forms";

/* Pages */
@import "pages";
@import "page_home";

/* Footer */
.credits {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.love {
  color: #faafba;
}
