$icon-font-path: '../fonts/';

$brand-primary: #0277bd;

@import "bootstrap";

$color-orange: #f58220;
$grid-max-width: 1140px;
$footer-height: 140px;

@import "mixins";
@import "general";
@import "layout";
@import "fonts";
@import "forms";
@import "navigation";
@import "footer";
@import "icons";

/* Pages */
@import "pages";
@import "pages/home";
@import "flatpages";

/* Select2 */
@import "select2";
