body {
    /* ... */
}

svg {
    vertical-align: baseline;
}

.messages {
    margin: 0 auto;
    max-width: 650px;

    &:empty {
        display: none;
    }
}

.alert-error {
    @extend .alert-danger;
}

.big-number {
    font-weight: bold;
    font-size: 1.5em;
}
