{% extends "dusken/base.html" %}
{% load i18n bootstrap %}

{% block body %}
    {% if validlink %}
        <h2>{% trans "Please choose a new password" %}</h2>
        <!-- TODO: Minimum password requirements -->
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans "Change it" %}</button>
        </form>
    {% else %}
        <p>{% trans "The password reset link is not valid or has allready been used." %}</p>
    {% endif %}
{% endblock %}
