{% extends "base.html" %}
{% load i18n svg %}
{% block body %}
    <script>
    var config = {
        {% if newsletter_subscription %}
        mailChimpSubscription: '{{ newsletter_subscription.pk }}',
        mailChimpSubscriptionDetailURL: '{% url "mailchimp:subscription-detail" newsletter_subscription.pk %}',
        {% endif %}
        mailChimpSubscriptionListURL: '{% url "mailchimp:subscription-list" %}',
        userEmail: '{{ request.user.email }}',
    };
    </script>
    <div class="email-subscriptions">
        <h2>{% trans "Email subscriptions" %}</h2>
        <h6 class="text-muted">{% trans "Note: We have registered your email as" %} {{ request.user.email }}</h6>
        <br>
        <h4>{% trans "Newsletter" %}</h4>
        <p>{% trans "Upcoming events and announcements. Maximum one email per week." %}</p>
        {% trans "Your are" %} <span class="js-mailchimp-status" data-text-subscribed="{% trans "subscribed" %}" data-text-unsubscribed="{% trans "unsubscribed" %}">{% if newsletter_subscription.show_checked %}{% trans "subscribed" %} ✅{% else %}{% trans "unsubscribed" %} ❌{% endif %}</span>
            <a href="#"
               class="btn btn-outline-primary newsletter-btn js-toggle-mailchimp-subscription{% if newsletter_subscription.show_checked %} active{% endif %}"
               data-text-subscribe="{% trans "Subscribe" %}"
               data-text-unsubscribe="{% trans "Unsubscribe" %}">
                {% if newsletter_subscription.show_checked %}{% trans "Unsubscribe" %}{% else %}{% trans "Subscribe" %}{% endif %}
            </a>
        <br>
        <br>
        <h4>{% trans "Mailing lists" %}</h4>
        <p>{% trans "For keeping up with what is happening internally at Chateau Neuf. Usually one email per month on average." %}</p>
        <table class="table table-striped mailing-list-table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th class="mailing-list-table__status">{% trans "Status" %}</th>
                    <th class="mailing-list-table__actions">{% trans "Action" %}</th>
                </tr>
            </thead>
        <tbody>
        {% for list_name,list_attrs in mailing_lists.items %}
            <tr>
                <td>{{ list_name|capfirst }}</td>
                <td class="mailing-list-table__status js-mailman-status" data-list-name="{{ list_name }}">
                    {% if list_attrs.is_member %}✅{% else %}❌{% endif %}
                </td>
                <td class="mailing-list-table__actions">
                    <a href="#"
                       class="btn btn-outline-primary js-toggle-mailman-subscription {% if list_attrs.is_member %} active{% endif %}"
                        data-text-subscribe="{% trans "Subscribe" %}"
                        data-text-unsubscribe="{% trans "Unsubscribe" %}"
                        data-list-name="{{ list_name }}"
                        data-url="{{ list_attrs.url }}">
                        {% if list_attrs.is_member %}{% trans "Unsubscribe" %}{% else %}{% trans "Subscribe" %}{% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    </div>
{% endblock %}