{% extends "base.html" %}
{% load i18n svg %}
{% block nav %}{% include "nav.html" with active='home' %}{% endblock %}
{% block body %}
    <script>
    var config = {
        validateEmail: '{% url "resend-validation-email" %}'
    };
    </script>
    <h2>{% svg "icons/home" %} {% trans "Home" %}</h2>
    <div class="home__actions-wrap">
    <section class="home__actions">
        <h6 class="text-muted">{% trans "What do you want to do?" %}</h6>

        <!-- First row -->
        <div class="row">

            <div class="col-md-4">
            <div class="home__membership-status card">
                <div class="card-block">
                    <h4 class="card-title">{% svg "icons/license" %} {% trans "Your Membership" %}</h4>
                    <h6 class="card-subtitle text-muted">{% trans "See your membership status" %}</h6>
                </div>
                <ul class="list-group list-group-flush">
                {% with user.last_membership as ms %}
                    {% if ms != null and ms.is_valid %}
                        {% if ms.expires_in_less_than_one_month %}
                            <li class="list-group-item list-group-item-warning"><span>{% svg "icons/warning" %} {% trans "Your membership is expiring in less than one month" %} </span></li>
                        {% else %}
                            <li class="list-group-item list-group-item-success"><span><span class="lnr lnr-thumbs-up"></span> {% trans "You have a valid membership" %} </span></li>
                        {% endif %}
                    {% else %}
                        {% if user.unclaimed_orders %}
                            <li class="list-group-item list-group-item-warning"><span>{% svg "icons/warning" %}
                                {% trans "There is a membership connected to your phone number." %}<br>
                                <a href="{% url "user-phone-validate" %}">{% trans "Validate phone number" %}</a>
                            </span></li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger"><span>{% svg "icons/sad" %}
                                {% if ms == null %}
                                    {% trans "You have no membership" %}
                                {% else %}
                                    {% trans "Membership expired." %}
                                {% endif %}
                            </span></li>
                        {% endif %}
                    {% endif %}

                    {% if ms.is_valid %}
                        <li class="list-group-item membership"><span>
                            {% if ms.is_valid %}{% trans "Valid until" %}{% else %}{% trans "Expired" %}{% endif %}: <strong>{% if ms.end_date %}{{ ms.end_date }}{% else %}{% trans "Lifelong" %}{% endif %}</strong>
                        </span></li>
                        {% if ms.order %}
                            <li class="list-group-item payment"><span>
                            {% trans "Payment" %}: <strong>{{ ms.order.price_nok_kr }},- {% trans "by" %} {{ ms.order.get_payment_method_display }}</strong>
                            </span></li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="card-block">
                    {% if ms.is_valid and not ms.expires_in_less_than_one_month %}
                        {% if ms.order %}
                            <a href="{% url "payment-detail" ms.order.uuid %}" class="btn btn-outline-primary btn-block">{% trans "See reciept" %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url "membership-renew" %}" class="btn btn-outline-primary btn-block">
                        {% if ms == Null %}
                            {% trans "Buy membership" %}
                        {% else %}
                            {% trans "Renew membership" %}
                        {% endif %}
                        </a>
                    {% endif %}
                </div>
            {% endwith %}
            </div>
        </div>

        <div class="col-md-8">
            <div class="home__quick-profile card">
                <div class="card-block">
                    <h4 class="card-title"><a href="{% url "user-detail-me" %}">{% svg "icons/user" %} {% trans "Your profile" %}</a></h4>
                    <h6 class="card-subtitle text-muted">{% trans "Quick view of your profile details" %}</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>{% trans "Full name" %}: <strong>{{ user.get_full_name }}
                        {% if user.is_volunteer %}
                            ({{ user.username }})
                        {% endif %}
                    </strong></span></li>
                    <li class="list-group-item justify-content-between">
                        <span>
                            {% svg "icons/envelope" %} {% trans "Email" %}: <strong>{{ user.email }}</strong>
                            {% if user.email_is_confirmed %}
                                <span class="badge badge-success">{% trans "Validated" %}</span>
                            {% else %}
                                <span class="badge badge-warning">{% trans "Not validated" %}</span>
                            {% endif %}
                        </span>
                        {% if not user.email_is_confirmed %}
                            <a href="#" class="btn btn-outline-primary btn-sm js-send-validation-email">{% trans "Resend validation email" %}</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <span>
                            {% svg "icons/phone" %} {% trans "Phone number" %}: <strong>{{ user.phone_number }}</strong>
                            {% if user.phone_number_confirmed %}
                                <span class="badge badge-success">{% trans "Validated" %}</span>
                            {% else %}
                                <span class="badge badge-warning">{% trans "Not validated" %}</span>
                            {% endif %}
                        </span>
                        {% if not user.phone_number_confirmed %}
                            <a href="{% url "user-phone-validate" %}" class="btn btn-outline-primary btn-sm">{% trans "Validate phone number" %}</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="card-block">
                    <a href="{% url "user-update-me" %}" class="btn btn-outline-primary btn-block">{% svg "icons/pencil" %} {% trans "Edit your profile" %}</a>
                </div>
            </div>

            </div>
        </div>
        <!-- Second row -->
        <div class="row">
            <div class="col-md-4">
                <div class="home__actions__update-email-subscriptions card">
                    <div class="card-block">
                        <h4 class="card-title">{% svg "icons/envelope" %} {% trans "Email subscriptions" %}</h4>
                        <h6 class="card-subtitle text-muted">{% trans "Newsletter and mailing lists" %}</h6>
                    </div>
                    <div class="card-block">
                        <a href="{% url "email-subscriptions" %}" class="btn btn-outline-primary btn-block">{% trans "Change subscriptions" %}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="home__actions__change-password card">
                    <div class="card-block">
                        <h4 class="card-title">{% trans "Password" %}</h4>
                        <h6 class="card-subtitle text-muted">{% trans "Change it if you want to" %}</h6>
                    </div>
                    <div class="card-block">
                        <a href="{% url "password_change" %}" class="btn btn-outline-primary btn-block">{% trans "Change password" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}