{% extends "dusken/base.html" %}
{% load i18n %}
{% block body %}
    <h4>{{ user }}</h4>
    <ul>
        <li>{% trans "Email" %}: <strong>{{ user.email }}</strong><!-- - <a href="#">Resend validation email</a></li>-->
        <li>{% trans "Phone number" %}: <strong>{{ user.phone_number }}</strong><!-- - <a href="#">Resend validation code</a></li>-->
    </ul>
    <h4>{% trans "Membership" %}</h4>
    {% if user.has_valid_membership %}
        <div class="alert alert-success">{% trans "You have a valid membership" %} :-)</div>
        <ul>
        {% for membership in user.memberships.all %}
        <li>
             <span class="membership">{% if membership.is_valid %}
                 {% trans "Valid until" %}
             {% else %}
                 {% trans "Expired" %}
             {% endif %}
             {{ membership.end_date }}.</span>
            <span class="payment">{% trans "Payment" %}: {{ membership.payment.value_in_kr }},- {% trans "by" %} {{ membership.payment.payment_method }}.</span>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <a href="{% url "membership-purchase" %}" class="btn btn-primary">Renew membership</a>
    {% endif %}
{% endblock %}