{% extends "base.html" %}
{% load i18n svg %}
{% block body %}
    <h2>{% svg "icons/apartment" %} {% trans "Volunteer" %}</h2>
    <div class="home-volunteer__actions-wrap">
    <ul>
        <li><a href="{% url "orgunit-list" %}">{% trans "List of organizational units" %}</a></li>
        <li>{% trans "Add new volunteer to my orgunit" %}</li>
        <li>{% trans "Remove volunteer from my orgunit" %}</li>
    </ul>
    <!--<section class="home-volunteer__actions">
        <h6 class="text-muted">{% trans "What do you want to do?" %}</h6>
        <div class="card-deck-wrapper">
        <div class="card-deck">

            <div class="home-volunteer__TODO card">
                <div class="card-block">
                    <h4 class="card-title">{% trans "A" %}</h4>
                    <h6 class="card-subtitle text-muted">{% trans "Subtitle" %}</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">{% trans "B" %} </li>
                    <li class="list-group-item">C</li>
                </ul>
                <div class="card-block">
                    <a href="#" class="btn btn-outline-primary btn-block">{% trans "C" %}</a>
                </div>
            </div>
        </div>
        </div>
    </section>-->
    </div>
{% endblock %}