{% extends "base.html" %}
{% block nav %}{% include "nav.html" with active='home-volunteer' %}{% endblock %}
{% load i18n user svg bootstrap4 %}
{% block body %}
    <div class="home-volunteer">

        <h2>{% svg "icons/apartment" %} {% trans "Volunteer" %}</h2>

    {% if not user.is_volunteer and not user.is_superuser %}
        <div class="alert alert-info">{% trans "This section is for active volunteers, but you are not registered in the volunteer group yet." %}</div>
        <p>{% trans "The effort of our active volunteers form The Norwegian Student Society, want to become a part of it?" %}</p>
        {% get_current_language as LANGUAGE_CODE %}
        <a class="btn btn-primary btn-lg" href="{% if LANGUAGE_CODE == 'nb' %}https://studentersamfundet.no/bli-aktiv/{% else %}https://studentersamfundet.no/bli-aktiv/become-a-volunteer/{% endif %}">{% trans "Read more" %}</a>
    {% else %}
        <h6 class="text-muted">{% trans "Section for active volunteers" %}</h6>

        <div class="row">
            <div class="col-md">
                <div class="card home-volunteer__user_search">
                    <div class="card-body">
                        <h4 class="card-title">{% svg "icons/magnifier" %} {% trans "Find users" %}</h4>
                        {% bootstrap_form user_search %}
                        <button class="btn btn-primary js-view-user">{% trans "View" %}</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card home-volunteer__orgunit_list">
                    <div class="card-body">
                        <h4 class="card-title">{% trans "List of organizational units" %}</h4>
                        <h6 class="card-subtitle text-muted">{% trans "Contact informaction and member lists" %}</h6>
                    </div>
                    <div class="card-body">
                        <a href="{% url "orgunit-list" %}" class="btn btn-outline-primary">{% trans "Show organizational units" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if user.groups %}
        <div class="row">
            <div class="col-md">
                <h4 class="card-title">{% svg "icons/users" %} {% trans "Your organizations" %}</h4>
                {% for group in user.groups.all %}
                    {% for org in group.member_orgunits.all %}
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{% url "orgunit-detail" org.slug %}">{{ org }}</a></h4>
                                {% if user|has_admin_group:org.admin_group %}
                                    <a class="btn btn-outline-primary" href="{% url "orgunit-edit-users" org.slug %}">{% trans "Manage members" %}</a>
                                    <a class="btn btn-outline-primary" href="{% url "orgunit-edit" org.slug %}">{% trans "Edit" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md">
                {% if user.is_superuser %}
                    <div class="stats">
                        <br>
                        <h3>{% trans "Statistics" %}</h3>
                        <a href="{% url "stats" %}">{% trans "Membership statistics" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}