{% extends "base.html" %}
{% block nav %}{% include "nav.html" with active='home-volunteer' %}{% endblock %}
{% load i18n user svg %}
{% block body %}
    <div class="home-volunteer">
    <h2 class="card-title">{% svg "icons/apartment" %} {% trans "Volunteer" %}</h2>
    {% if not user.is_volunteer %}
        <p>{% trans "The effort of our active volunteers form The Norwegian Student Society, want to become a part of it?" %}</p>
        {% get_current_language as LANGUAGE_CODE %}
        <a class="btn btn-primary" href="{% if LANGUAGE_CODE == 'nb' %}https://studentersamfundet.no/bli-aktiv/{% else %}https://studentersamfundet.no/bli-aktiv/become-a-volunteer/{% endif %}">{% trans "Read more" %}</a>
    {% else %}
        <ul>
            <li><a href="{% url "orgunit-list" %}">{% trans "List of organizational units" %}</a></li>
            <li>{% trans "Add new volunteer to my orgunit" %}</li>
            <li>{% trans "Remove volunteer from my orgunit" %}</li>
        </ul>
        {% if user.groups %}
            <h4>{% svg "icons/users" %} {% trans "Your organizations" %}</h4>
            <ul class="list-group">
            {% for group in user.groups.all %}
                {% for org in group.member_orgunits.all %}
                    <li class="list-group-item justify-content-between">
                        <span><a href="{% url "orgunit-detail" org.slug %}">{{ org }}</a></span>
                        {% if user|has_group:org.admin_group %}
                            <span><a href="{% url "orgunit-edit" org.slug %}">{%  trans "Edit" %}</a></span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}