{% extends "base.html" %}
{% load i18n %}
{% block body %}
    <script>
    var config = {
        validateEmail: '{% url "resend-validation-email" %}'
    };
    </script>
    <h2><span class="lnr lnr-home"></span> {% trans "Home" %}</h2>
    <div class="home__actions-wrap">
    <section class="home__actions">
        <h6 class="text-muted">{% trans "What do you want to do?" %}</h6>
        <div class="card-deck-wrapper">
        <div class="card-deck">

            <div class="home__membership-status card">
                <div class="card-block">
                    <h4 class="card-title"><span class="lnr lnr-license"></span> {% trans "Your Membership" %}</h4>
                    <h6 class="card-subtitle text-muted">{% trans "See your membership status" %}</h6>
                </div>
                <ul class="list-group list-group-flush">
                {% with user.get_last_valid_membership as ms %}
                    {% if ms.is_valid %}
                        <li class="list-group-item list-group-item-success"><span class="lnr lnr-thumbs-up"></span> {% trans "You have a valid membership" %} </li>
                    {% else %}
                        <li class="list-group-item list-group-item-warning"><span class="lnr lnr-sad"></span> {% trans "Membership expired." %}</li>
                    {% endif %}

                    {% if ms.is_valid %}
                        <li class="list-group-item membership">
                            {% if ms.is_valid %}{% trans "Valid until" %}{% else %}{% trans "Expired" %}{% endif %}: <strong>{{ ms.end_date }}</strong>
                        </li>
                        <li class="list-group-item payment">
                        {% trans "Payment" %}: <strong>{{ ms.order.price_nok_kr }},- {% trans "by" %} {{ ms.order.payment_method }}</strong>
                        </li>
                    {% endif %}
                </ul>
                <div class="card-block">
                    {% if ms.is_valid %}
                        <a href="{% url "payment-detail" ms.order.uuid %}" class="btn btn-outline-primary btn-block">{% trans "See reciept" %}</a>
                    {% else %}
                        <a href="{% url "membership-renew" %}" class="btn btn-outline-primary btn-block">{% trans "Renew membership" %}</a>
                    {% endif %}
                </div>
            {% endwith %}
            </div>

            <div class="home__quick-profile card">
                <div class="card-block">
                    <h4 class="card-title"><a href="{% url "user-detail-me" %}"><span class="lnr lnr-user"></span> {% trans "Your profile" %}</a></h4>
                    <h6 class="card-subtitle text-muted">{% trans "Quick view of your profile details" %}</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans "Full name" %}: <strong>{{ user }}</strong></li>
                    <li class="list-group-item">
                        <span class="lnr lnr-envelope"></span> {% trans "Email" %}: <strong>{{ user.email }}</strong>
                        {% if user.email_is_confirmed %}
                            <span class="tag tag-success">{% trans "Validated" %}</span>
                        {% else %}
                            <span class="tag tag-warning">{% trans "Not validated" %}</span>
                            <button type="button" class="btn btn-outline-primary btn-sm js-send-validation-email">{% trans "Resend validation email" %}</button>
                        {% endif %}
                    </li>
                    <li class="list-group-item"><span class="lnr lnr-phone"></span> {% trans "Phone number" %}: <strong>{{ user.phone_number }}</strong></li><!-- - <a href="#">Resend validation code</a></li>-->
                </ul>
                <div class="card-block">
                    <a href="{% url "user-update-me" %}" class="btn btn-outline-primary btn-block"><span class="lnr lnr-pencil"></span> {% trans "Edit your profile" %}</a>
                </div>
            </div>

            <div class="home__actions__change-password card">
                <div class="card-block">
                    <h4 class="card-title">{% trans "Password" %}</h4>
                    <h6 class="card-subtitle text-muted">{% trans "Change it if you want to" %}</h6>
                </div>
                <div class="card-block">
                    <a href="{% url "password_change" %}" class="btn btn-outline-primary btn-block">{% trans "Change password" %}</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
{% endblock %}