{% extends "base.html" %}
{% load i18n %}
{% block body-css-classes %}page-index{% endblock %}
{% block body %}
    <div class="index">
        <section class="index__welcome">
            <h3>{% trans "Hi 👋" %}</h3>
            <p>{% blocktrans %}This is Galtinn, the membership database at <a href="https://studentersamfundet.no">The Norwegian Student Society</a>.{% endblocktrans %}</p>
            <a href="{% url "user-register" %}" class="btn btn-primary btn-lg">{% trans "Become a member" %}</a>
        </section>

        <section class="index__login">
            <em>{% trans "Already a member?"%}</em>
            <h4>{% trans "Log in here" %}</h4>
            {% include "registration/login_form.html" %}
        </section>
    </div>
{% endblock %}