{% extends "base.html" %}
{% load i18n bootstrap staticfiles %}
{% block body %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        var config = {
            image: '{% static "dist/images/logo.png" %}',
            stripe_pub_key: '{{ view.stripe_public_key }}',
            membership_name: '{{ view.membership_type.name }}',
            membership_price: {{ view.membership_type.price }},
            charge_url: '{% url "membership-charge" %}'
        };
    </script>

    <section class="membership-purchase">
        <h4>{% trans "New membership" %}</h4>
        <form method="post" id="user-form">
            {{ form|bootstrap }}
            <button id="purchase-button" class="btn btn-primary btn-lg btn-block">{% trans "Purchase" %}</button>
        </form>
    </section>
{% endblock %}