{% extends "base.html" %}
{% load i18n svg %}
{% block preinc %}<script src="https://checkout.stripe.com/checkout.js"></script>{% endblock %}
{% block nav %}{% include "nav.html" with active='membership-list' %}{% endblock %}
{% block body %}
    <h2>{% svg "icons/license" %} {% trans "Memberships" %}</h2>

    {% with user.last_membership as ms %}
        <div>
        {% if not ms.is_valid %}
            <p>{% trans "No valid membership found" %}.</p>
            <p>{% include "dusken/membership_purchase_form.html" %}</p>
        {% endif %}
        </div>
        <br>
    {% endwith %}
    <div class="row">
        {% for ms in membership_list %}
            <div class="col-md-4">
                <section class="membership-item card">
                    <div class="card-body">
                        <h4 class="card-title">{% svg "icons/license" %} {{ ms.membership_type }}</h4>
                        <h6 class="card-subtitle text-muted">{% trans "Period" %}: {{ ms.start_date }} - {% if ms.end_date %}{{ ms.end_date }}{% else %}{% trans "Lifelong" %}{% endif %}</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if ms.is_valid %}
                            <li class="list-group-item list-group-item-success">{% trans "Valid until" %}: <strong>{% if ms.end_date %}&nbsp;{{ ms.end_date }}{% else %}&nbsp;{% trans "Lifelong" %}{% endif %}</strong>
                              </li>
                        {% else %}
                            <li class="list-group-item list-group-item-warning">{% trans "Expired" %}</li>
                        {% endif %}
                        {% if ms.order %}
                            <li class="list-group-item">{% trans "Purchased" %} {{ ms.order.created }} ({{ ms.order.get_payment_method_display }})</li>
                        {% endif %}
                    </ul>
                    {% if ms.order %}
                        <div class="card-body">
                            <a href="{% url "payment-detail" ms.order.uuid %}" class="btn btn-outline-primary btn-block">{% trans "See reciept" %}</a>
                        </div>
                    {% endif %}
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}