{% extends "base.html" %}
{% load i18n user svg %}
{% block body %}
    <h4 class="card-title">{% svg "icons/users" %} {{ orgunit.name }}</h4>
    {% if user|has_group:orgunit.admin_group %}
        <p><a class="btn btn-outline-primary btn-block" href="{% url "orgunit-edit" orgunit.slug %}">{%  trans "Edit" %}</a></p>
    {% endif %}
    <ul class="list-group">
        {% if orgunit.email %}
        <li class="list-group-item"><span>{% svg "icons/envelope" %} {% trans "Email" %}:
            <strong><a href="mailto:{{ orgunit.email }}">{{ orgunit.email }}</a></strong></span></li>
        {% endif %}
        {% if orgunit.phone_number %}
        <li class="list-group-item"><span>{% svg "icons/phone" %} {% trans "Phone number" %}:
            <strong>{{ orgunit.phone_number }}</strong></span></li>
        {% endif %}
        {% if orgunit.website %}
        <li class="list-group-item"><span>{% svg "icons/earth" %} {% trans "Website" %}:
            <strong><a href="{{ orgunit.website }}">{{ orgunit.website }}</a></strong></span></li>
        {% endif %}
    </ul>
    {% if orgunit.description %}
        <br><h5>{% trans "Description:" %}</h5>
        <p>{{ orgunit.description|safe }}</p>
    {% endif %}
    <h5>{% trans "Members" %} ({{ orgunit.group.user_set.count|default:0 }})</h5>
    <ul class="list-group">
    {% for user in admins %}
        <li class="list-group-item"><span>
            {% svg "icons/star" %}
            <a href="{% url "user-detail" user.uuid %}"> {{ user.get_full_name }}</a> - <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            ({% trans "Admin" %})
        </span></li>
    {% endfor %}
    {% for user in members %}
        <li class="list-group-item"><span>
            {% svg "icons/user" %}
            <a href="{% url "user-detail" user.uuid %}"> {{ user.get_full_name }}</a> - <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </span></li>
    {% empty %}
        {% trans "No members" %}
    {% endfor %}
    </ul>
{% endblock %}