{% extends "base.html" %}
{% load i18n %}
{% block body %}
    <h1>{{ orgunit.name }}</h1>
    <h4>{% trans "Members" %}</h4>
    {% if orgunit.group %}
        <h5>{{ orgunit.group.name }}</h5>
        <ul>
        {% for user in orgunit.group.user_set.all %}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <h4>{% trans "Admins" %}</h4>
    {% if orgunit.admin_group %}
        <h5>{{ orgunit.admin_group.name }}</h5>
        <ul>
        {% for user in orgunit.admin_group.user_set.all %}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}