{% extends "base.html" %}
{% load i18n user %}
{% block body %}
    <h4 class="card-title"><span class="lnr lnr-apartment"></span> {% trans "Organizational Units" %}</h4>
    <ul class="list-group">
    {% for org in orgunits %}
        <li class="list-group-item justify-content-between"><a href="{% url "orgunit-detail" org.slug %}">{{ org }}</a>
            {% if user|has_group:org.admin_group %}
                <span><a href="{% url "orgunit-edit" org.slug %}">{%  trans "Edit" %}</a></span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}