{% extends "base.html" %}
{% load i18n svg humanize %}
{% block nav %}
    {% if userobj == user %}
        {% include "nav.html" with active="user-detail-me" %}
    {% else %}
        {% include "nav.html" %}
    {% endif %}
{% endblock %}
{% block body %}
<div class="form-page">
    <script>
    var config = {
        validateEmail: '{% url "resend-validation-email" %}'
    };
    </script>
    <h4 class="card-title">{% svg "icons/user" %}
        {% if userobj == user %}
            {% trans "Your profile" %}
        {% else %}
            {{ userobj.get_full_name }}
        {% endif %}
    </h4>
    <ul class="list-group">
        <li class="list-group-item"><span>{% trans "Full name" %}: <strong>{{ userobj.get_full_name }}</strong></span></li>
        <li class="list-group-item justify-content-between"><span>
            {% trans "Username" %}: <strong>{{ userobj.username }}</strong>
            {% if user.is_superuser and not userobj.has_set_username %}
                <span class="badge bg-info">{% trans "Not set" %}</span>
            {% endif %}
        </span>
            {% if userobj == user and not userobj.has_set_username %}
                <a href="{% url "user-update-username" %}" class="btn btn-outline-primary btn-sm">{% trans "Set username" %}</a>
            {% endif %}
        </li>
        <li class="list-group-item justify-content-between">
            <span>
                {% svg "icons/envelope" %} {% trans "Email" %}: <strong>{{ userobj.email }}</strong>
                {% if userobj.email_is_confirmed %}
                    <span class="badge bg-success">{% trans "Validated" %}</span>
                {% else %}
                    <span class="badge bg-warning">{% trans "Not validated" %}</span>
                {% endif %}
            </span>
            {% if userobj == user and not userobj.email_is_confirmed %}
                <a href="#" class="btn btn-outline-primary btn-sm js-send-validation-email">{% trans "Resend validation email" %}</a>
            {% endif %}
        </li>
        <li class="list-group-item justify-content-between">
            <span>
                {% svg "icons/phone" %} {% trans "Phone number" %}: <strong>{{ userobj.phone_number }}</strong>
                {% if userobj.phone_number_confirmed %}
                    <span class="badge bg-success">{% trans "Validated" %}</span>
                {% else %}
                    <span class="badge bg-warning">{% trans "Not validated" %}</span>
                {% endif %}
            </span>
            {% if userobj == user and not userobj.phone_number_confirmed %}
                <a href="{% url "user-phone-validate" %}" class="btn btn-outline-primary btn-sm">{% trans "Validate phone number" %}</a>
            {% endif %}
        </li>
        {% if userobj.have_address %}
            <li class="list-group-item">
                <span><span class="lnr lnr-map-marker"></span> {% trans "Address" %}: <strong>{{ userobj.get_full_address }}</strong></span>
            </li>
        {% endif %}
        {% if userobj.place_of_study.all %}
            <li class="list-group-item">
                <span><span class="lnr lnr-graduation-hat"></span> {% trans "Place of study" %}: <strong>{{ userobj.place_of_study.all | join:", " }}</strong></span>
            </li>
        {% endif %}
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <span>
                {% svg "icons/license" %} {% trans "Membership" %}:
                {% with userobj.last_membership as ms %}
                    {% if ms != null %}
                        <strong>
                            {% if ms.end_date %}
                                {{ ms.end_date }}
                            {% else %}
                                {% trans "Lifelong" %}
                            {% endif %}
                        </strong>
                        {% if ms.is_valid %}
                            <span class="badge bg-success">{% trans "Valid" %}</span>
                        {% else %}
                            <span class="badge bg-danger">{% trans "Expired" %}</span>
                        {% endif %}
                    {% else %}
                        <strong>{% trans "None" %}</strong>
                        <span class="badge bg-danger">{% trans "Expired" %}</span>
                    {% endif %}
                {% endwith %}
            </span>
        </li>
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><em><span>{% trans "Registered" %}: <strong>{{ userobj.date_joined|date }}</strong></span></em></li>
        <li class="list-group-item"><em><span>{% trans "Last updated" %}: <strong title="{{ userobj.updated }}">{{ userobj.updated|naturaltime }}</strong></span></em></li>
    </ul>
    <br>
    <div class="d-grid">
        {% if userobj == user %}
            <a href="{% url "user-update-me" %}" class="btn btn-outline-primary">{% svg "icons/pencil" %} {% trans "Edit" %}</a>
        {% elif user.is_superuser %}
            <a href="{% url "user-update" userobj.uuid %}" class="btn btn-outline-primary">{% svg "icons/pencil" %} {% trans "Edit" %}</a>
        {% endif %}
    </div>
    <br>
    <h5>{% trans "Organizations" %}</h5>
    <ul class="list-group">
        {% for group in userobj.groups.all %}
            {% for ou in group.member_orgunits.all %}
                <li class="list-group-item"><a href="{% url "orgunit-detail" ou.slug %}">{{ ou.name }}</a></li>
            {% endfor %}
        {% empty %}
            <li class="list-group-item">{% trans "No organizations" %}</li>
        {% endfor %}
    </ul>
    {% if userobj == user %}
        <br>
        <h5>{% trans "Danger zone" %}</h5>
        <a href="{% url "user-delete" %}" class="text-danger">{% trans "Permanently delete your account" %}</a>
    {% endif %}
    </div>
{% endblock %}