{% extends "base.html" %}
{% load i18n bootstrap %}
{% block body %}
    <script>
    var config = {
        validateEmail: '{% url "resend-validation-email" %}'
    };
    </script>
    <h4 class="card-title"><span class="lnr lnr-user"></span> {% trans "Your profile" %}</h4>
    <ul class="list-group">
        <li class="list-group-item"><span>{% trans "Full name" %}: <strong>{{ user.get_full_name }}</strong></span></li>
        <li class="list-group-item"><span>{% trans "Username" %}: <strong>{{ user.username }}</strong></span></li>
        <li class="list-group-item justify-content-between"><span>
            <span class="lnr lnr-envelope"></span> {% trans "Email" %}:
            <strong>{{ user.email }}</strong></span>
            {% if user.email_is_confirmed %}
                <span class="badge badge-success">{% trans "Validated" %}</span>
            {% else %}
                <span class="badge badge-warning">{% trans "Not validated" %}</span>
                <button type="button" class="btn btn-outline-primary btn-sm js-send-validation-email">{% trans "Resend validation email" %}</button>
            {% endif %}
        </li>
        <li class="list-group-item">
            <span><span class="lnr lnr-phone"></span> {% trans "Phone number" %}: <strong>{{ user.phone_number }}</strong></span>
        </li>
        {% if user.get_full_address|cut:" " %}
            <li class="list-group-item"><span>{% trans "Address" %}: <strong>{{ user.get_full_address }}</strong></span></li>
        {% endif %}
        {% if user.place_of_study.all %}
            <li class="list-group-item"><span>{% trans "Place of study" %}: <strong>{{ user.place_of_study.all | join:", " }}</strong></span></li>
        {% endif %}
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><em><span>{% trans "Registered" %}: <strong>{{ user.created}}</strong></span></em></li>
        <li class="list-group-item"><em><span>{% trans "Last updated" %}: <strong>{{ user.updated }}</strong></span></em></li>
    </ul>
    <br>
    <a href="{% url "user-update-me" %}" class="btn btn-outline-primary btn-block"><span class="lnr lnr-pencil"></span> {% trans "Edit your profile" %}</a>
{% endblock %}