{% load static i18n raven flatpages google_analytics %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static '/dist/favicon.ico' %}">
    <meta name="x-csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Galtinn - {% trans "The membership database at Chateau Neuf - The Norwegian Student Society" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles/app.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'dist/scripts/vendor.js' %}"></script>
    {% google_analytics_tag %}
</head>
<body class="{% block body-css-classes %}{% endblock %}">
    <div class="page-wrap">
	{% block nav %}{% include "nav.html" %}{% endblock %}
	<section class="content">
        <div class="messages">{% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}</div>
        {% block body %}{% endblock %}
    </section>
    </div>

    {% include "footer.html" %}

    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('{% sentry_public_dsn 'https' %}').install()</script>
    <script type="text/javascript" src="{% static 'dist/scripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
</body>
</html>
