{% load i18n svg %}
<div class="nav-wrap bg-faded">
    <nav class="navbar navbar-light navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">{% trans "dusken.neuf.no" %}</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link active" href="{% url "home" %}">{% svg "icons/home" %} {% trans "Home" %}</a></li>
                    <a class="nav-item nav-link" href="{% url "membership-list" %}">{% svg "icons/license" %} {% trans "Membership" %}</a>
                    <a class="nav-item nav-link" href="{% url "home-volunteer" %}">{% svg "icons/apartment" %} {% trans "Volunteer" %}</a>
                {% endif %}
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url "user-detail-me" %}" title="{% trans "Profile" %}">{% svg "icons/user" %} {{ user.get_full_name|default:user.username }}</a>
                {% endif %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <form class="form-inline" action="{% url "set_language" %}" method="post">{% csrf_token %}
                    <select class="form-control language-select hidden" name="language" onchange="this.form.submit()">
                        {% for language in languages %}
                            <option value="{{ language.code }}"
                                {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ language.name_local|capfirst }}
                            </option>
                        {% endfor %}
                    </select>
                    <a href="#" class="nav-link js-language-select-toggle" title="{% trans "Change language to..." %}">{% svg "icons/earth" %}</a>
                </form>

                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">{% svg "icons/exit" %} {% trans "Log out" %}</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>